@model  List<Product>

<div id="products" class="container">


    <partial name="_ProductPartial">



</div>
<div class="row my-5 justify-content-center">
    <div class="col-lg-5 d-flex justify-content-center">
        <a id="showMore" class="btn btn-secondary text-white">Show More...</a>
    </div>
</div>