@model List<Product>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Products</h4>
            <div class="d-flex justify-content-between my-3">
                <a asp-area="admin" asp-action="index" asp-controller="dashboard" class="btn btn-secondary">Go Back</a>
                <a asp-area="admin" asp-action="create" asp-controller="products" class="btn btn-success">Create</a>
            </div>
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Count
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/assets/img/@product.Image.Name" alt="image" />
                                </td>
                                <td>
                                     @product.Name
                                </td>
                                <td>
                                    $@product.Price
                                </td>
                                <td>
                                    @product.Count
                                </td>
                                <td>
                                    @product.Category.Name
                                </td>
                                <td>
                                    <a asp-area="admin" asp-action="details" asp-controller="products" class="btn btn-primary">Details</a>
                                    <a asp-area="admin" asp-action="update" asp-controller="products" class="btn btn-warning">Update</a>
                                    <a asp-area="admin" asp-action="delete" asp-controller="products" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>